<section class="min-w-screen min-h-screen bg-teal-900 flex items-center justify-center px-5 py-5">
  <section class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden" style="max-width: 350px">
    <h1 class="text-center text-white py-10 text-3xl font-bold">
      Angular Calculator
    </h1>

    <section class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right">
      <section class="w-full py-5 px-6 text-2xl text-white font-thin">
        {{funcT}}
      </section>
      <section class="w-full py-5 px-6 text-6xl text-white font-thin">
        {{calValue | number}}
      </section>
    </section>

    <section class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- First button row -->
      <section class="flex w-full">
        <section class="w-2/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="onClickValue('c','function')"> C </button>
        </section>

        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-50 text-xl text-white font-light" (click)="onClickValue('%','function')"> % </button>
        </section>

        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none bg-red-700 bg-opacity-10 text-2xl text-white font-light" (click)="onClickValue('/','function')"> / </button>
        </section>
      </section>
      <!-- End of First Button Row -->

      <!-- Start of Numbers 7,8,9,* -->
      <section class="flex w-full">
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('7','number')"> 7 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('8','number')"> 8 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('9','number')"> 9 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('*','function')"> * </button>
        </section>
      </section>
       <!-- End of Numbers 7,8,9,* -->

       <!-- Start of Numbers 4,5,6,- -->
      <section class="flex w-full">
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('4','number')"> 4 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('5','number')"> 5 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('6','number')"> 6 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('-','function')"> - </button>
        </section>
      </section>
       <!-- End of Numbers 4,5,6,- -->

       <!-- Start of Numbers 1,2,3,+ -->
      <section class="flex w-full">
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('1','number')"> 1 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('2','number')"> 2 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('3','number')"> 3 </button>
        </section>
        <section class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-opacity-20 text-xl text-white font-light" (click)="onClickValue('+','function')"> + </button>
        </section>
      </section>
       <!-- End of Numbers 1,2,3,+ -->

       <!-- Start of Numbers 0,.,= -->
       <section class="flex w-full">
          <section class="w-1/4 border-r border-b border-red-400">
            <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="onClickValue('0','number')"> 0 </button>
          </section>

          <section class="w-1/4 border-r border-b border-red-400">
            <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="onClickValue('.','number')"> . </button>
          </section>

          <section class="w-2/4 border-r border-b border-red-400">
            <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="onClickValue('=','function')"> = </button>
          </section>
       </section>
       <!-- End of Numbers 0,.,= -->

    </section>
  </section>
</section>